*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --BgNavbar:#041C32;
    --ElementNavbar:#04293A;

    --pageBg:#0d3452;
    --pageInnerBg:#916BBF;
    --TextColor1:#EEE3CB;

    --page1Bg:#09253b;
}